body {

    background-image: url(background2.png);
    font-style: italic;
    background-size: cover;
display: grid;
grid-template-columns: 1fr 1fr;
color: rgb(231, 237, 243);
}


#lesdonne{

    margin-top: 20%;
}